<meta name="viewport" content="width=device-width, initial-scale=1">

*, *:before, *:after {
  box-sizing: border-box;
}

/* general */

body {
  display: flex;
  justify-content: center;
  background-color: #1c1414;
  color: #333e47;
  font-family: 'Open Sans';
  font-size: .87em;
  letter-spacing: 1px;
}

/* topmost navigation */

header {
  background-color: #fff;
}

nav {
  display: inline-block;
  background-color:#fff;
  height: 4%;
  z-index: inherit;
}

li {
  padding-bottom: 3%;
  margin-bottom: 5%;
}

h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 6%;
  width: 20%;
}

nav {
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

h1 {
  position: relative;
  left: -115px;
  bottom: 3px;
}

.content {
  opacity: .9;
}

.svg-icon {
  position: relative;
  padding: 2% 0 0 2%;
  height: 2em;
  width: 2em;
  right: 4%;
  bottom: 10px;
}

.svg-icon2{
  position: relative;
  right: 4px;
  bottom: 1px;
  color: #556674;
  height: 2em;
  width: 2em;
}

/* content */

.container {
  position: absolute;
  radius: 10px;
  background-color: #fff;
  height: 677px;
  width: 375px;
  z-index: -2;
}

.content {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  height: 300px;
  position: absolute;
  margin: 72% 0;
  margin-bottom: 0;
  padding: 6%;
  padding-bottom: 0;
  overflow: scroll;
  width: 88%;
}

.map {
  position: relative;
  background-image: url(../images/map.png);
  background-size: contain;
  top: -139px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.line, .times {
  display: flex;
  justify-content: space-between;
}

.times {
  font-weight: 600;
}

.delays {
  font-size: .9em;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-left: 5%;
  padding-top: 1%;
}

.lines {
  border-bottom: .5px solid #556674;
}

.direction {
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
  padding-top: 5%;
}
